.title {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.2px;
}
/********************* DIV DE RIEGOS **************************/
.tablaHF :nth-child(1){ width: 12%; }
.tablaHF :nth-child(2){ width: 12%; }
.tablaHF :nth-child(3){ width: 12%; }
.tablaHF :nth-child(4){ width: 12%; }
.tablaHF :nth-child(5){ width: 12%; }
.tablaHF :nth-child(6){ width: 12%; }
.tablaHF :nth-child(7){ width: 14%; }
.tablaHF :nth-child(8){ width: 14%; }

.divRiegos {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  color: white;
  background: #283747;
}
.subDivRiegos {
  
  background: white;
  border: 1px solid gray;
  color: black;
}
.divTablones {
  height: 50px;
  width: 50px;
  float: left;
}
.tablariegos td:nth-child(1) {
  width: 10%;
}
.tablariegos td:nth-child(2) {
  width: 80%;
}
.tablariegos td:nth-child(3) {
  width: 10%;
}
.spanRiego {
  margin: 3px;
  padding: 11px;
  background: #37474f;
  color: white;
  border-radius: 10%;
  cursor: pointer;
  border: none;
}
.spanRiego:hover {
  background: #263238;
}
.spanRiegoD {
  margin: 3px;
  padding: 11px;
  background: #b71c1c;
  color: white;
  border-radius: 10%;
  border: none;
}
@media (max-width:992px) {
  .spanRiego {
    display: flex;
  }
}
/************************/
.tablaLluvias td:nth-child(1) {
  width: 50%;
}
.tablaLluvias td:nth-child(2) {
  width: 50%;
}
/*************** ANCHO TABLA PLAGAS ***********/
.tableAncho td:nth-child(1) {
  width: 10%;
}
.tableAncho td:nth-child(2) {
  width: 10%;
}
.tableAncho td:nth-child(3) {
  width: 10%;
}
.tableAncho td:nth-child(4) {
  width: 10%;
}
.tableAncho td:nth-child(5) {
  width: 10%;
}
.tableAncho td:nth-child(6) {
  width: 10%;
}
.tableAncho td:nth-child(7) {
  width: 20%;
}
.tableAncho td:nth-child(8) {
  width: 20%;
}
.titleModal {
  margin: 0 auto;
}
/********************* BOTONES EDITAR Y ELIMINAR LABOR ************/
.btnlabor {
  padding: 3px;
  background: #fdd835;
  color: black;
  border: 1px solid #fdd835;
  width: 60%;
  border-radius: 10px;
}
.btnlabor:hover {
  text-decoration: none;
  color: white;
  background: #ffc107;
  border: 1px solid #ffc107;
}
.btnlabor1 {
  padding: 5px;
  background: #b71c1c;
  color: white;
  border: 1px solid #b71c1c;
  width: 70%;
  border-radius: 10px;
}
.btnlabor1:hover {
  text-decoration: none;
  color: black;
  background: #e53935;
  border: 1px solid #e53935;
}
.tablalabores td:nth-child(1) {
  width: 15%;
  padding: 5px 0px 0px 0px;
}
.tablalabores td:nth-child(2) {
  width: 10%;
  padding: 5px 0px 0px 0px;
}
.tablalabores td:nth-child(3) {
  width: 15%;
  padding: 5px 0px 0px 0px;
}
.tablalabores td:nth-child(4) {
  width: 5%;
  padding: 5px 0px 0px 0px;
}
.tablalabores td:nth-child(5) {
  width: 5%;
  padding: 5px 0px 0px 0px;
}
.tablalabores td:nth-child(6) {
  width: 10%;
  padding: 5px 0px 0px 0px;
}
.tablalabores td:nth-child(7) {
  width: 10%;
  padding: 5px 0px 0px 0px;
}
.tablalabores td:nth-child(8) {
  width: 20%;
  padding: 5px 0px 0px 0px;
}
.tablalabores td:nth-child(9) {
  width: 10%;
  padding: 5px 2px 2px 2px;
}
/*************** BTN EDITAR Y ELIMINAR TRATAMIENTO HERBICIDA *********************/
.btneditth {
  background: #fdd835;
  color: black;
  border: 1px solid #fdd835;
  border-radius: 10px;
  padding: 1px 45px 1px 7px;
}
.btneditth:hover {
  text-decoration: none;
  color: black;
  background: #ffc107;
  border: 1px solid #ffc107;
}
.btnelitth {
  background: #b71c1c;
  color: white;
  border: 1px solid #b71c1c;
  border-radius: 10px;
  padding: 1px 55px 1px 5px;
}
.btnelitth:hover {
  text-decoration: none;
  color: black;
  background: #e53935;
  border: 1px solid #e53935;
}

/********************************************************/
.btneditth1 {
  background: #fdd835;
  color: black;
  border: 1px solid #fdd835;
  border-radius: 10px;
  padding: 1px 9px 1px 7px;
}
.btneditth1:hover {
  text-decoration: none;
  color: black;
  background: #ffc107;
  border: 1px solid #ffc107;
}
.btnelitth1 {
  background: #b71c1c;
  color: white;
  border: 1px solid #b71c1c;
  border-radius: 10px;
  padding: 1px 9px 1px 7px;
}
.btnelitth1:hover {
  text-decoration: none;
  color: black;
  background: #e53935;
  border: 1px solid #e53935;
}
/**************** BOTON AGREGAR TRATAMIENTO HERBICIDA ****************/
.btnmenu {
  padding: 4%;
  background: #0d47a1;
  color: white;
  border: 1px solid #0d47a1;
  width: 80%;
  border-radius: 10px;
}
.btnmenu:hover {
  background: #1976d2;
  text-decoration: none;
  color: white;
  border: 1px solid #1976d2;
}
/**************** BOTON EDITAR Y ELIMINAR APLICACION HERBICIDA ****************/
.btnmenu1 {
  padding: 6%;
  background: #fdd835;
  color: white;
  border: 1px solid #fdd835;
  width: 80%;
  border-radius: 10px;
  color: black;
}
.btnmenu1:hover {
  background: #ffc107;
  text-decoration: none;
  border: 1px solid #ffc107;
  color: white;
}
.btneliaphe {
  padding: 6px;
  background: #b71c1c;
  color: white;
  border: 1px solid #b71c1c;
  width: 60%;
  border-radius: 10px;
  font-size: 13px;
}
.btneliaphe:hover {
  text-decoration: none;
  color: black;
  background: #e53935;
  border: 1px solid #e53935;
}
/**************** BOTON EDITAR Y APLICAR CONTROL PLAGAS ****************/
.btnmenupl {
  padding: 2%;
  background: #fdd835;
  color: white;
  border: 1px solid #fdd835;
  width: 60%;
  border-radius: 10px;
  color: black;
  margin-bottom: 5px;
}
.btnmenupl:hover {
  background: #ffc107;
  text-decoration: none;
  border: 1px solid #ffc107;
  color: white;
}
.btnmenu1pl {
  padding: 2%;
  background: #0d47a1;
  color: white;
  border: 1px solid #0d47a1;
  width: 60%;
  border-radius: 10px;
  color: white;
}
.btnmenu1pl:hover {
  background: #1976d2;
  text-decoration: none;
  border: 1px solid #1976d2;
  color: black;
}
/**************** DIVISONES APLICACION HERBICIDA ****************/
.alignah {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid gray;
  background:#f5f5f5;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
/**************** DIV MOSTRAR TRATAMIENTOS HERBICIDAS ****************/
.alignth {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background:#f5f5f5;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
}
/**************** DIV PARA OCULTAR TRATAMIENTOS HERBICIDAS  ****************/
.alignth1 {
  height: 30px;
  background: #e0e0e0;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alignth1:hover {
  height: 30px;
  background: #bdbdbd;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  cursor: pointer;
}

/*********************** BOTON DE MODAL SUERTE *************/
.hdato:hover {
  background: #e53935;
  color: white;
} 

/***********************  VENTANAS DE SWEET ALERT ***********/
.contenido-popup {
  color: white;
}
.contenido-popup-war {
  color: black;
}
.borde-popup {
  border: 5px solid white;
  border-radius: 5%;
  background: #263238;
}
.borde-popup-war {
  border: 5px solid gray;
  border-radius: 5%;
  background: #ffd600;
}
.title-popup {
  color: white;
  font-weight: bold;
}
.title-popup-war {
  color: black;
  font-weight: bold;
}
.swal2-icon.swal2-warning {
  border-color: red;
  color: red;
}
.swal2-icon.swal2-question {
  border-color: red;
  color: red;
}


/********************************************************************/

.btn-reset {
  background: #2E4053;
  border: #2E4053;
  border-radius: 5px;
  padding: 10px;
}

.btn-reset:hover {
  text-decoration: none;
  color: yellow;
  background-color: #546e7a;
}

.txt-dialog {
  text-align: justify;
  font-size: 17px;
  padding: 10px;
}

.dialog {
  margin: 0 auto;
  width: 40%;
  height: 260px;
  border-radius: 5px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 4px 8px rgba(201,191,201,0.75);
  -moz-box-shadow: 0px 0px 4px 8px rgba(201,191,201,0.75);
  box-shadow: 0px 0px 4px 8px rgba(201,191,201,0.75);
  margin-top: 50px;
}

.dropdown-content .drop {
  color: black;
  font-size: 13px;
  padding: 1;
}
.error{
  padding: 1rem;
  color:white;
  margin-top: 1rem;
  text-align: center;
  border-radius: 2%;
  background-color: #d50000;
}
.error1{
  padding: 4px;
  color:white;
  margin-top: 1rem;
  text-align: center;
  border-radius: 2%;
  background-color: #d50000;
}
.warning{
  padding: 1rem;
  color:white;
  margin-top: 1rem;
  text-align: center;
  border-radius: 2%;
  background-color: #e65100;
}
.warning1{
  padding: 4px;
  color:white;
  margin-top: 1rem;
  text-align: center;
  border-radius: 2%;
  background-color: #e65100;
}
.sucess{
  padding: 1rem;
  color:white;
  margin-top: 1rem;
  text-align: center;
  border-radius: 2%;
  background-color: #1D8348;
}
.btnlink {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.2px;
  background-color: #2E4053;
  border: none;
  color: white;
  padding: 15px 40px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 15px 15px 15px 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btnedit {
  width: 150px;
  margin: 5px 20px 20px 20px;
  padding: 15px 50px; 
  height: 50px;
}

.btnlink:hover {
  text-decoration: none;
  color: white;
  background-color: #546e7a;
}

.btnlink:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.btnlink2 {
  background-color: #2E4053;
  border: none;
  color: white;
  padding: 10px 10px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 3px 4px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btnlink2:hover {
  text-decoration: none;
  color: white;
  background-color: #546e7a;
}

.btnlink2:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.btnlink3 {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.2px;
  background-color: #2E4053;
  border: none;
  color: white;
  padding: 15px 40px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 20px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btnlink3:hover {
  text-decoration: none;
  color: white;
  background-color: #546e7a;
}

.btnlink3:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.btnvisited {
  background-color: #0277bd;
}

.sidenavp {
  background: #212F3C;
}
/***********      FORMULARIO LOGIN      */
a {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px;
  color: #cccccc;
}

/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}

input[type=text] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder {
  color: #cccccc;
}

/* INPUT EMAIL Y PASSWORD */
input[type=email] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=email]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=email]:placeholder {
  color: #cccccc;
}

input[type=password] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=password]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=password]:placeholder {
  color: #cccccc;
}
/*-------------------------------------------------------*/

/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}

/* OTHERS */

*:focus {
    outline: none;
}
/*********************************************  LOGIN     */
#icon {
  width:50%;
}
.icon2 {
  width: 20%;
}
/****************************************************  PROFILE  */
.modulos {
  background-color: #212F3C;
  border-radius: 20px;
  width: 70%;
}
.modulos:hover {
  background-color: #2E4053;
}

.header {
  background-color: #212F3C;
}

.header1 {
  background-color: #212F3C;
  display: flex;
  justify-content: center;
}

.linkS {
  color: black;
  justify-content: center;
  align-items: center; 
}

.home {
  margin-left: 350px;
}

@media screen and (max-width:992px ) {
  .home {
    margin: 0 auto;
  }
}

.hacienda {
  width: 435px;
  text-align: center;
}

@media screen and (min-width:992px ) {
  .hacienda {
    width: 400px;
  }
}
@media screen and (min-width:1200px ) {
  .hacienda {
    width: 600px;
  }
}
/**************** BOTON DE AGREGAR TRATAMIENTOS HERBICIDA Y FERTILIZANTES ******************/

.botontablon {
  margin: 0 auto;
}
/*******************************************/
.sdt1{
  text-align: left;
}
.sdt2{
  text-align: center;
}
.sdt3{
  text-align: right;
}
.cdt1{
  text-align: left;
}
.cdt2{
  text-align: center;
}
.cdt3{
  text-align: right;
}

@media screen and (max-width:600px) {
  .sdt1{
    text-align: left;
  }
  .sdt2{
    text-align: left;
  }
  .sdt3{
    text-align: left;
  }
  .cdt1{
    text-align: left;
  }
  .cdt2{
    text-align: left;
  }
  .cdt3{
    text-align: left;
  }
}
/******************************************/
/******************** MHACER EL SIDENAV MAS ANGOSTO Y PANEL MAS ANCHO ********/
/* .sidenav {
  width: 17%;
}

@media screen and (max-width:1104px ) {
  .ms {
    margin-left: -20px;
  }
} */
/**************************/
/****************************** ANCHO FECHA TABLA LABOR */
.wrap {
  width: 150px;
  white-space: pre-wrap;      /* CSS3 */   
  white-space: -moz-pre-wrap; /* Firefox */    
  white-space: -pre-wrap;     /* Opera <7 */   
  white-space: -o-pre-wrap;   /* Opera 7 */    
  word-wrap: break-word;
}
/*********************************************************/
/***********  HOVER DE CORTE, HERBICIDAS, FERTILIZANTES Y TABLONES */
.ahover:hover {
  color: red;
  text-decoration: underline solid black;
}

.chover:hover {
  color: red;
}

.celda1 {
  width: 50%;
}
/**************************************/
.btncerrar {
  background-color: #1a237e;
}
.btncerrar:hover {
  background-color: #303f9f;
}
/***********  SPINER PARA CARGAR************************/
.spi {
  display: flex;
  align-items: center;
}
/* SPINNER */
.sk-fading-circle {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: black;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
          animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); 
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); 
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; 
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; 
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; 
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; 
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; 
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; 
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; 
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; } 
}
/********************************************************/
/**********   MAQUINARIA NAVBAR */
.headerm {
  background: #37474f;
  height: 90px;
}

.logom {
  width: 25%;
}
.etiquetam1 {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #37474f;
}
.etiquetam1:hover {
  background: #37474f;
}
.etiquetam {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.etiquetam:hover {
  color: orange;
  background-color: white;
  text-decoration: none;
}
/****************************************************************/
/**********   MAQUINARIA */
.contenedormaquinaria {
  height: 470px;
  -webkit-box-shadow: 10px 10px 93px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 93px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 93px 0px rgba(0,0,0,0.75);
  border-radius: 5px;
}

.div1 {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div2 {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subcontenedorm {
  width: 95%;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subcontenedoricons {
  width: 95%;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedoricons {
  box-sizing: border-box;
	padding-top: 10px;
	width : 80px;
	height : 80px;
	color : white;
	text-align : center;
	border-radius : 50%;
	-webkit-box-shadow: 3px 3px 20px 3px rgba(0,0,0,0.85);
	-moz-box-shadow: 3px 3px 20px 3px rgba(0,0,0,0.85);
	box-shadow: 3px 3px 20px 3px rgba(0,0,0,0.85);
}
.contenedoricons:hover {
  -webkit-transform:scale(1.3);
  -moz-transform:scale(1.3);
  -ms-transform:scale(1.3);
  -o-transform:scale(1.3);
  transform:scale(1.3);
}

.contenedoricons1 {
  box-sizing: border-box;
	padding-top: 10px;
	width : 50px;
	height : 50px;
	color : white;
	text-align : center;
	border-radius : 50%;
	-webkit-box-shadow: 3px 3px 20px 3px rgba(0,0,0,0.85);
	-moz-box-shadow: 3px 3px 20px 3px rgba(0,0,0,0.85);
	box-shadow: 3px 3px 20px 3px rgba(0,0,0,0.85);
}
.contenedoricons1:hover {
  -webkit-transform:scale(1.3);
  -moz-transform:scale(1.3);
  -ms-transform:scale(1.3);
  -o-transform:scale(1.3);
  transform:scale(1.3);
}

.imgt1 {
  width: 90%;
  margin-top: -60px;
  -webkit-box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.75);
  border-radius: 5%;
}

.titulo1 {
  color: orange;
  font-weight: bold;
  letter-spacing: 1px;
}

.subetiquetas {
  width: 90%;
  text-align: left;
  font-size: 15px;
}

.etiquetas {
  padding: 10px;
  color: orange;
  font-weight: bold;
}

.etiquetas:hover {
  text-align: right;
  background-color: gray;
}
.titulolistadomaquinaria {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.cardmaquinaria1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardmaquinaria {
  width: 80%;
}

.linkdetalle {
  background-color: #1b5e20;
  color: white;
}
.linkdetalle:hover {
  background-color: #66bb6a;
  -webkit-transform:scale(1.2);
  -moz-transform:scale(1.2);
  -ms-transform:scale(1.2);
  -o-transform:scale(1.2);
  transform:scale(1.2);
}
